Repository particle1331/model-deployment: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-api-job, run-build-packages-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            api/.* run-build-api-job true
            packages/.* run-build-packages-job true
          
          base-revision: main
          config-path: .circleci/continue_config.yml

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Fix typo.
  .circleci/continue_config.yml
Due: none

Update VERSION
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Fix config. Bump model version.
  .circleci/config.yml
  .circleci/continue_config.yml
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Bump model version.
  .circleci/continue_config.yml
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Bump model. Fix config.
  .circleci/continue_config.yml
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Refactor config.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Fix yaml error.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

try tags
  .circleci/config.yml
  .circleci/continue_config.yml
  hello/config-orig.yml
Due: none

Automate release.
  .circleci/continue_config.yml
  packages/regression_model/publish_model.py
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Fix dynamic config.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Testing path filtering.
  .circleci/config.yml
  .circleci/continue_config.yml
  api/dummy_file.py
  packages/regression_model/regression_model/VERSION
Due: run-build-api-job, run-build-packages-job

Testing base revision.
  api/dummy_file.py
  packages/regression_model/regression_model/VERSION
Due: run-build-api-job, run-build-packages-job

test base revision
  api/dummy.py
  packages/regression_model/regression_model/VERSION
Due: run-build-api-job, run-build-packages-job

Delete dummy.py
  api/dummy.py
Due: run-build-api-job

Bump model version.
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Bump API version.
  api/app/__init__.py
Due: run-build-api-job

Critical fix.
  .circleci/config.yml
Due: none

Fix api model.
  api/app/__init__.py
Due: run-build-api-job

Fix CI dependencies.
  .circleci/config.yml
Due: none

Bump versions.
  api/app/__init__.py
  packages/regression_model/regression_model/VERSION
Due: run-build-api-job, run-build-packages-job

Initialize github actions.
  .github/model_release.yml
Due: none

Fix directory structure.
  .github/workflows/model_release.yml
Due: none

Training run.
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Add auto release tag.
  .github/workflows/model_release.yml
Due: none

Training run
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job

Fix release only for commits in main branch.
  .github/workflows/model_release.yml
Due: none

Update model version.
  packages/regression_model/regression_model/VERSION
Due: run-build-packages-job
