Repository particle1331/model-deployment: changes, and which CircleCI parameters are due for each by the changed paths.
All: api-updated, regression-model-updated

.circleci/config.yml:

version: 2.1

setup: true

defaults: &defaults
  docker:
    - image: circleci/python:3.9.5
  working_directory: ~/project

prepare_tox: &prepare_tox
  run:
    name: Install tox
    command: |
      sudo pip install --upgrade pip
      pip install --user tox

prepare_heroku: &prepare_heroku
  run:
    name: Setup Heroku CLI
    command: |
      wget -qO- https://cli-assets.heroku.com/install-ubuntu.sh | sh


jobs:
  test_app:
    <<: *defaults
    working_directory: ~/project/api
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Runnning app tests
          command: |
            tox
  
  deploy_app_to_heroku:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project
      - *prepare_heroku
      - run:
          name: Deploy to Heroku
          command: |
            heroku plugins:install https://github.com/heroku/heroku-repo.git
            heroku repo:purge_cache -a $HEROKU_APP_NAME
            heroku repo:reset -a $HEROKU_APP_NAME
            git subtree push --prefix api https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main
  
  train_and_upload_regression_model:
    <<: *defaults
    working_directory: ~/project/packages/regression_model
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
            name: Fetch the data
            command: |
              tox -e fetch_data
      - run:
          name: Train the model
          command: |
            tox -e train
      - run:
          name: Test the model
          command: |
            tox
      - run:
          name: Publish model
          command: |
            tox -e publish_model
  

tags_only: &tags_only
  filters:
    # Ignore any commit on any branch by default
    branches:
      ignore: /.*/
    # Only act on version tags
    tags:
      only: /^.*/

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            api/.* api-updated true
            packages/regression_model/.* regression-model-updated true
          
          base-revision: main
          config-path: .circleci/continue_config.yml

      # Bump model version. Setup mode allows only one workflow.
      - test_app:
          <<: *tags_only

      - train_and_upload_regression_model:
          <<: *tags_only

      - deploy_app_to_heroku:
          <<: *tags_only
          requires:
            - test_app
            - train_and_upload_regression_model

Update config.yml
  .circleci/config.yml
Due: none

Revert "Update config.yml"
  .circleci/config.yml
Due: none

Update model_release.yml
  .github/workflows/model_release.yml
Due: none

test model bump
  packages/regression_model/regression_model/VERSION
Due: regression-model-updated

Fix gh actions config.
  .github/workflows/model_release.yml
Due: none

Update VERSION
  packages/regression_model/regression_model/VERSION
Due: regression-model-updated

Fetch github ref
  .circleci/config.yml
  .github/workflows/model_release.yml
  packages/regression_model/regression_model/VERSION
Due: regression-model-updated

Update ci policy. Remove tags.
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/model_release.yml
Due: none

Fix typo
  .circleci/continue_config.yml
Due: none

Update __init__.py
  api/app/__init__.py
Due: api-updated

Update model and API versions.
  api/app/__init__.py
  packages/regression_model/regression_model/VERSION
Due: api-updated, regression-model-updated

Update API version.
  api/app/__init__.py
Due: api-updated

Bump model version.
  packages/regression_model/regression_model/VERSION
Due: regression-model-updated

Bump API version.
  api/app/__init__.py
Due: api-updated

Revert API model version. Test.
  .circleci/continue_config.yml
  api/app/__init__.py
Due: api-updated

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Remove test.
  .circleci/continue_config.yml
Due: none

Update README.md
  README.md
Due: none
